<!DOCTYPE html>
<html lang="en">

<head>
  <title>🧙 <%= poll.question %>
  </title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/wizard.css" type="text/css" />

  <!-- Link to fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bowlby+One&family=Alfa+Slab+One&family=Jost&family=Permanent+Marker&family=Raleway:wght@800&family=Voltaire&display=swap"
    rel="stylesheet" />
  <!-- Link to fontsawesome (icons) -->
  <script src="https://kit.fontawesome.com/ebefa7c07e.js" crossorigin="anonymous"></script>

  <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css" type="text/css" /> -->
  <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script type="text/javascript" src="/scripts/vote-submission.js"></script>

</head>

<body>
  <%- include('partials/_header') %>

    <% if (!isClosed) { %>

      <!-- USER RANKS CHOICES -->

      <div class="container containerAll d-flex flex-column align-items-center">

        <h2 id="questionString">
          <%= poll.question %>
        </h2>

        <p id="instructions">
          <i id="hand" class="fa-regular fa-hand"></i> Drag and drop to rank the options <br>(<span
            id="firstChoice">1st</span> choice at the top, last choice at the bottom)
        </p>

        <div id="dragAndDrop" class="d-flex justify-content-center my-4">
          <form class="form" id="voteSubmit" action="/api/polls/:id" method="post">
            <ol id="sortable" class="ui-sortable list-group">
              <% for (let i=0; i < poll.choices.length; i++) { %>
                <li id="choice_<%= poll.ids[i] %>" class="ui-sortable-handle list-group-item">
                  <span>
                    <%= poll.choices[i] %>
                  </span>
                  <button class="showDescription" type="button">
                    view description
                  </button>
                  <p class="description">
                    <%= poll.descriptions[i] %>
                  </p>
                </li>
                <% } %>
            </ol>
        </div>
        <div id="pollPreview" class="d-flex justify-content-center my-4">
          <input id="submitPoll" type="submit" class="btn btn-warning btn-lg" type="submit" value="Decide!" />

          </form>

        </div>

        <% } else { %>
          <div class="container containerAll d-flex flex-column align-items-center">
            <h1 id="pollh1">Final Results</h1>
            
            <div id="vertical">
              <div id="pollResults">
                <table id="resultsTable">
                  <caption>
                    <%= poll.question %>
                  </caption>
                  <thead>
                    <tr>
                      <th class="tableHeading" scope="col">CHOICES</th>
                      <th class="tableHeading" scope="col">SCORE</th>
                    </tr>
                  </thead>
                  <% for (let i=0; i < results.length; i++) { %>
                    <% if (i===0) { %>
                      <tr class="optionInTheLead">
                    <% } else { %>
                      <tr>
                    <% } %>
                      <td>
                        <%= results[i].title %>
                      </td>
                      <td>
                        <%= Number(results[i].score) %>
                      </td>
                    </tr>
                  <% } %>
                </table>

                <p>This poll ended on <span class="highlightColor highlightBold">
                  <%= poll.end_date.toDateString() %></span>.</p>
              </div>
            </div>
          </div>
        <% } %>
</body>

</html>
